<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-panel caption="AddWord" size-full _id="pnlAddWord" :expand>
    <vaadin-vertical-layout height="512px">
     <vaadin-form-layout>
      <vaadin-text-field required-indicator-visible caption="word:" style-name="small" width-full tabindex="1" _id="txtWord"></vaadin-text-field>
      <vaadin-text-field required-indicator-visible caption="equiv:" style-name="small" width-full tabindex="2" _id="txtEquiv"></vaadin-text-field>
      <vaadin-text-field caption="defn:" style-name="small" width-full tabindex="3" _id="txtDefn"></vaadin-text-field>
      <vaadin-text-field caption="exampl:" style-name="small" width-full tabindex="4" _id="txtExmpl"></vaadin-text-field>
      <vaadin-combo-box scroll-to-selected-item caption="category:" style-name="small" width-full tabindex="5" data-item-type="java.lang.String" _id="cmbCategory"></vaadin-combo-box>
      <vaadin-horizontal-layout>
       <vaadin-button icon="fonticon://Vaadin-Icons/e762" style-name="friendly small" width="128px" tabindex="6" plain-text _id="btnSend">
         send 
       </vaadin-button>
       <vaadin-button icon="fonticon://Vaadin-Icons/e811" style-name="small danger" width="128px" tabindex="7" plain-text _id="btnReset">
         reset 
       </vaadin-button>
      </vaadin-horizontal-layout>
      <vaadin-vertical-layout height="164px" _id="tabDetails"></vaadin-vertical-layout>
     </vaadin-form-layout>
    </vaadin-vertical-layout>
   </vaadin-panel>
  </vaadin-vertical-layout>
 </body>
</html>