<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;../src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.2">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-panel icon="fonticon://Vaadin-Icons/e6f7" caption="Access denied" style-name="well" size-full _id="pnlLoginError" :expand>
    <vaadin-vertical-layout size-full>
     <vaadin-label style-name="h1 failure colored" plain-text _id="lblMessage" :middle :center>
       No permission to access 
     </vaadin-label>
    </vaadin-vertical-layout>
   </vaadin-panel>
  </vaadin-vertical-layout>
 </body>
</html>