<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-panel caption="Time to choose:" size-full _id="pnlChoose" :expand>
    <vaadin-vertical-layout margin="false">
     <vaadin-horizontal-layout spacing="false" width-full>
      <vaadin-vertical-layout size-auto>
       <vaadin-button style-name="small" width="255px" plain-text _id="btnAddWord">
         Add word 
       </vaadin-button>
       <vaadin-button enabled="false" style-name="small" width="255px" plain-text _id="btnAddPhrase">
         Add phrase 
       </vaadin-button>
       <vaadin-button enabled="false" style-name="small" width="255px" plain-text _id="btnAddTest">
         Add test 
       </vaadin-button>
       <vaadin-button style-name="small" width="255px" plain-text _id="btnAddRule">
         Add grama note 
       </vaadin-button>
      </vaadin-vertical-layout>
      <vaadin-vertical-layout size-auto>
       <vaadin-button style-name="small" width="255px" plain-text _id="btnShowDict">
         Show dictionary 
       </vaadin-button>
       <vaadin-button style-name="small" width="255px" plain-text _id="btnShowRules">
         Show grama notes 
       </vaadin-button>
       <vaadin-button style-name="small" width="255px" plain-text _id="btnExam">
         Launch exam 
       </vaadin-button>
       <vaadin-button enabled="false" style-name="small" width="255px" plain-text _id="btnMultiExam">
         Launch multiplayer exam 
       </vaadin-button>
      </vaadin-vertical-layout>
     </vaadin-horizontal-layout>
     <vaadin-button style-name="small danger" width="192px" plain-text _id="btnLogout" :middle :center>
       Logout 
     </vaadin-button>
    </vaadin-vertical-layout>
   </vaadin-panel>
  </vaadin-vertical-layout>
 </body>
</html>