<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-horizontal-layout spacing="false" width-full height="320px" :center>
    <vaadin-horizontal-split-panel locked width="800px">
     <vaadin-panel caption="Login" style-name="well" width="380px" height-full _id="pnlLogin">
      <vaadin-vertical-layout size-auto>
       <vaadin-text-field caption="email:" style-name="small" _id="txtLoginEmail"></vaadin-text-field>
       <vaadin-password-field caption="password:" style-name="small" _id="pssLoginPass"></vaadin-password-field>
       <vaadin-check-box caption="Remember me" style-name="small" _id="chbRemember"></vaadin-check-box>
       <vaadin-horizontal-layout>
        <vaadin-button icon="fonticon://Vaadin-Icons/e797" style-name="small friendly" width="164px" plain-text _id="btnLogin">
          Log in 
        </vaadin-button>
        <vaadin-button style-name="small quiet" width="164px" plain-text _id="btnResetPass">
          Reset password 
        </vaadin-button>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
     </vaadin-panel>
     <vaadin-panel caption="Register" style-name="well" width="380px" height-full _id="pnlRegister">
      <vaadin-vertical-layout size-auto>
       <vaadin-text-field caption="email:" style-name="small" _id="txtRegisterEmail"></vaadin-text-field>
       <vaadin-password-field caption="password:" style-name="small" _id="pssRegisterPass"></vaadin-password-field>
       <vaadin-password-field caption="repeat password:" style-name="small" _id="pssRegisterRepeat"></vaadin-password-field>
       <vaadin-button icon="fonticon://Vaadin-Icons/e771" style-name="small danger" width="164px" plain-text _id="btnRegister">
         Sign in &amp; Login 
       </vaadin-button>
      </vaadin-vertical-layout>
     </vaadin-panel>
    </vaadin-horizontal-split-panel>
   </vaadin-horizontal-layout>
   <vaadin-vertical-layout size-full _id="tabDetails" :bottom :center :expand></vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>