<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;../src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-panel icon="fonticon://Vaadin-Icons/e68b" caption="Something went wrong" style-name="well" size-full _id="pnlError" :expand>
    <vaadin-vertical-layout size-full>
     <vaadin-label icon="fonticon://Vaadin-Icons/e68a" caption="Error occurred:" style-name="h1 failure colored" width-full height="95px" _id="lblMessage" :middle :center>
       Unexpected operation 
      <br>or not implememted yet 
     </vaadin-label>
    </vaadin-vertical-layout>
   </vaadin-panel>
  </vaadin-vertical-layout>
 </body>
</html>