<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-panel caption="Set Word exam param:" size-full :expand>
    <vaadin-vertical-layout>
     <vaadin-combo-box scroll-to-selected-item caption="category:" style-name="small" text-input-allowed="false" width-full data-item-type="com.tw.progs.HandyEnglish.db.myBatis.dtos.Category" _id="cmbCategory"></vaadin-combo-box>
     <vaadin-label style-name="bold small" plain-text>
       OR / AND 
     </vaadin-label>
     <vaadin-combo-box scroll-to-selected-item caption="topic:" style-name="small" text-input-allowed="false" width-full data-item-type="com.tw.progs.HandyEnglish.db.myBatis.dtos.Topic" _id="cmbTopic"></vaadin-combo-box>
     <vaadin-check-box caption="Revert languages exam" style-name="small" _id="chbRevert"></vaadin-check-box>
     <vaadin-horizontal-layout>
      <vaadin-horizontal-layout>
       <vaadin-label style-name="small bold" plain-text _id="lblLabel" :middle>
         Amount of items for tests: 
       </vaadin-label>
       <vaadin-label plain-text _id="lblAmount" :middle>
         0 
       </vaadin-label>
      </vaadin-horizontal-layout>
      <vaadin-button icon="fonticon://Vaadin-Icons/e759" style-name="small primary" width="200px" plain-text _id="btnLaunch" :middle :right>
        Launch exam 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e622" style-name="small friendly" width="200px" plain-text _id="btnBack">
        Return 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-panel>
  </vaadin-vertical-layout>
 </body>
</html>